In [ ]:
import pandas as pd
data = pd.read_excel('day_1.xlsx')
data

In [31]:
data

      left  right
0    77221  93653
1    61169  27995
2    49546  69782
3    11688  41563
4    15820  48282
..     ...    ...
995  73919  23537
996  62591  16739
997  53735  79935
998  14454  69804
999  19976  46609

[1000 rows x 2 columns]

In [53]:
left_sorted = data['left'].sort_values(ascending=True).astype(int)
left_sorted.reset_index(drop=True, inplace=True)

In [54]:
left_sorted

0      10035
1      10157
2      10182
3      10199
4      10277
       ...
995    99645
996    99662
997    99689
998    99694
999    99959
Name: left, Length: 1000, dtype: int32

In [56]:
right_sorted = data['right'].sort_values(ascending=True).astype(int)
right_sorted.reset_index(drop=True, inplace=True)

In [57]:
right_sorted

0      10132
1      10526
2      10547
3      10613
4      10894
       ...
995    99228
996    99327
997    99355
998    99509
999    99897
Name: right, Length: 1000, dtype: int32

In [59]:
distance = abs(left_sorted-right_sorted)
distance

0       97
1      369
2      365
3      414
4      617
      ...
995    417
996    335
997    334
998    185
999     62
Length: 1000, dtype: int32

In [60]:
distance.sum()

1580061