In [4]:
import pandas as pd
data = pd.read_excel('advent_of_code_2024.xlsx', sheet_name=0, header=None)
data

         0      1
0    77221  93653
1    61169  27995
2    49546  69782
3    11688  41563
4    15820  48282
..     ...    ...
995  73919  23537
996  62591  16739
997  53735  79935
998  14454  69804
999  19976  46609

[1000 rows x 2 columns]

In [6]:
left = data[0].sort_values(ascending=True).astype(int)
left.reset_index(drop=True, inplace=True)

In [7]:
left

0      10035
1      10157
2      10182
3      10199
4      10277
       ...
995    99645
996    99662
997    99689
998    99694
999    99959
Name: 0, Length: 1000, dtype: int32

In [8]:
right = data[1].sort_values(ascending=True).astype(int)
right.reset_index(drop=True, inplace=True)

In [9]:
right

0      10132
1      10526
2      10547
3      10613
4      10894
       ...
995    99228
996    99327
997    99355
998    99509
999    99897
Name: 1, Length: 1000, dtype: int32

In [10]:
distance = abs(left-right)
distance

0       97
1      369
2      365
3      414
4      617
      ...
995    417
996    335
997    334
998    185
999     62
Length: 1000, dtype: int32

In [11]:
distance.sum()

1580061